* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url('https://stellatalk.s3.ap-northeast-2.amazonaws.com/image/background.png');
}
.header {
  width: 100vw;
  height: 10vh;
  background-color: #1b1a1a8a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}
.fake {
  width: 10vw;
  height: 20vw;
}
.bgcimg {
  width: 20vw;
  height: 30vh;
}

.Info {
  width: 15vw;
  height: 20vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer 관련 스타일링 */

.footer {
  width: 100vw;
  height: 10vh;
  display: flex;
  background-color: #1b1a1a8a;
  justify-content: end;
  align-items: center;
  color: #ffffff;
}

.footerName {
  width: 40vw;
  height: 10vh;
  display: flex;
  align-items: center;
}

.facebook,
.instagram,
.twitter {
  width: 5vw;
  height: 5vh;
  background-repeat: no-repeat;
}
.facebook {
  background-image: url('https://stellatalk.s3.ap-northeast-2.amazonaws.com/image/facebook.svg');
}
.instagram {
  background-image: url('https://stellatalk.s3.ap-northeast-2.amazonaws.com/image/instagram+(1).svg');
}
.twitter {
  background-image: url('https://stellatalk.s3.ap-northeast-2.amazonaws.com/image/twitter.svg');
}

/* main 컨텐츠 관련 스타일링 */
.main-content {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  overflow: auto;
}

.content {
  width: 90vw;
  height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.chat,
.post,
.universe {
  width: 25vw;
  height: 70vh;
  background-color: #1b1a1a8a;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  text-decoration: none;
}

.chat > div {
  width: 350px;
  height: 350px;
  background-size: cover;
  background-position: center;
  background-image: url('https://stellatalk.s3.ap-northeast-2.amazonaws.com/image/chat.png');
}
.post > div {
  width: 350px;
  height: 350px;
  background-size: cover;
  background-position: center;
  background-image: url('https://stellatalk.s3.ap-northeast-2.amazonaws.com/image/post.png');
}
.universe > div {
  width: 600px;
  height: 600px;
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: 20px;

  background-image: url('https://stellatalk.s3.ap-northeast-2.amazonaws.com/image/universe.png');
}
.mainp {
  color: white;
  font-weight: bold;
  font-size: 3rem;
}
.mainnp {
  color: white;
  font-weight: bold;
  font-size: 3rem;
  position: absolute;
  bottom: 80px;
}

.widgets {
  width: 90vw;
  height: 70vh;
  background-color: #1b1a1a8a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.universep {
  width: 70vw;
  text-align: justify;
}

.nasaimg {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
}

.login-widgets {
  width: 50vw;
  height: 75vh;
  border-radius: 10%;
  background-color: #1b1a1a8a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-top {
  width: 50vw;
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.login-top > h1 {
  font-size: 5rem;
}
.login-bottom {
  width: 50vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-input {
  width: 30vw;
  height: 8vh;
  background-color: #d9d9d98f;
  font-size: 2rem;
}

.fined {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.login-btn {
  margin-top: 10px;
  width: 50vw;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-button,
.signup-button {
  width: 30vw;
  height: 10vh;
  margin-top: 30px;
}
.login-button {
  background-color: rgba(0, 0, 0, 0.809);
  color: #ffffff;
}
.signup-button {
  background-color: #ffffffe6;
}

.signup-widgets {
  background-color: #1b1a1a8a;
  width: 60vw;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-widgets > h1 {
  font-size: 3rem;
}

.user-info {
  width: 30vw;
  height: 5vh;
  background-color: #d9d9d98f;
  font-size: 1rem;
}
/* chat 관련 스타일링 */

.chat-messages {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.chat-input {
  width: 60vw;
  display: flex;
  padding: 10px;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.chat-input button {
  padding: 10px 20px;
  background-color: powderblue;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* post 스타일링 */
.postwidgets {
  width: 90vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  overflow-y: auto;
}

.post-list {
  width: 70vw;
  display: flex;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  justify-content: space-around;
  align-items: center;
}

/* post 테이블 스타일 */
.table-container {
  margin: 20px auto;
  width: 90%;
  overflow-x: auto;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  text-align: left;
  padding: 20px;
  border-bottom: 1px solid;
  text-align: center;
}

th {
  background-color: rgba(0, 0, 0, 0.809);
}

tr:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.post-title {
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  background-color: #1b1a1a8a;
}

.post-content {
  margin-bottom: 20px;
}

.post-image {
  display: block;
  max-width: 60%;
  height: auto;
  margin: 20px auto;
  border-radius: 10px;
}

.comments-section {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.comment {
  width: 70vw;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: end;
}

.comment span {
  display: block;
  margin-top: 5px;
  font-size: 0.9em;
  color: #ffffff;
}

textarea {
  width: 50vw;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.post-button {
  display: block;
  width: 52vw;
  padding: 10px;
  margin-top: 10px;
  background-color: #8000ff4a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.post-button:hover {
  background-color: #490a89;
}

.post-widgets {
  width: 80vw;
  height: auto;
  overflow: auto;

  background-color: #1b1a1a8a;
}

/* 게시글 생성 페이지 전용 스타일 */
.createPostFormContainer {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  background: #fff;
}

.createPostFormLabel {
  margin: 10px 0;
}

.createPostFormInput,
.createPostFormTextarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.createPostFormInput[type='file'] {
  border: none;
}

.createPostFormButton {
  padding: 10px 20px;
  background-color: #8000ff4a;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.createPostFormButton:hover {
  background-color: #490a89;
}
