* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(../../assets/image/background.png);
}
.header {
  width: 100vw;
  height: 10vh;
  background-color: #1b1a1a8a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}
.fake {
  width: 10vw;
  height: 20vw;
}
.bgcimg {
  width: 20vw;
  height: 30vh;
}

.Info {
  width: 15vw;
  height: 20vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100vw;
  height: 10vh;
  display: flex;
  background-color: #1b1a1a8a;
  justify-content: end;
  align-items: center;
  color: #ffffff;
}

.main-content {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  overflow: hidden;
}

.content {
  width: 90vw;
  height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.chat,
.post,
.universe {
  width: 25vw;
  height: 70vh;
  background-color: #1b1a1a8a;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  text-decoration: none;
}

.chat > div {
  width: 350px;
  height: 350px;
  background-size: cover;
  background-position: center;
  background-image: url('../../assets/image/chat.png');
}
.post > div {
  width: 350px;
  height: 350px;
  background-size: cover;
  background-position: center;
  background-image: url('../../assets/image/post.png');
}
.universe > div {
  width: 600px;
  height: 600px;
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: 20px;

  background-image: url('../../assets/image/universe.png');
}
.mainp {
  color: white;
  font-weight: bold;
  font-size: 3rem;
}
.mainnp {
  color: white;
  font-weight: bold;
  font-size: 3rem;
  position: absolute;
  bottom: 80px;
}

.widgets {
  width: 90vw;
  height: 70vh;
  background-color: #1b1a1a8a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.universep {
  width: 70vw;
  text-align: justify;
}

.nasaimg {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
}

.login-widgets {
  width: 50vw;
  height: 75vh;
  border-radius: 10%;
  background-color: #1b1a1a8a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-top {
  width: 50vw;
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.login-top > h1 {
  font-size: 5rem;
}
.login-bottom {
  width: 50vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-input {
  width: 30vw;
  height: 8vh;
  background-color: #d9d9d98f;
  font-size: 2rem;
}

.fined {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.login-btn {
  margin-top: 10px;
  width: 50vw;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-button,
.signup-button {
  width: 30vw;
  height: 10vh;
  margin-top: 30px;
}
.login-button {
  background-color: rgba(0, 0, 0, 0.809);
  color: #ffffff;
}
.signup-button {
  background-color: #ffffffe6;
}

.signup-widgets {
  background-color: #1b1a1a8a;
  width: 60vw;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-widgets > h1 {
  font-size: 3rem;
}

.user-info {
  width: 30vw;
  height: 5vh;
  background-color: #d9d9d98f;
  font-size: 1rem;
}
/* chat 관련 스타일링 */
.chat-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.chat-header {
  background-color: #4e5d94;
  color: white;
  padding: 15px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  text-align: center;
}

.chat-messages {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.chat-input {
  display: flex;
  padding: 10px;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.chat-input button {
  padding: 10px 20px;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
