* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(../../assets/image/background.png);
}
.header {
  width: 100vw;
  height: 10vh;
  background-color: #1b1a1a8a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fake {
  width: 10vw;
  height: 20vw;
}
.bgcimg {
  width: 20vw;
  height: 30vh;
}

.Info {
  width: 10vw;
  height: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  width: 100vw;
  height: 10vh;
  display: flex;
  background-color: #1b1a1a8a;
  justify-content: end;
  align-items: center;
}

.main-content {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 90vw;
  height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.chat,
.post,
.universe {
  width: 25vw;
  height: 70vh;
  background-color: #1b1a1a8a;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.chat > div {
  width: 350px;
  height: 350px;
  background-size: cover;
  background-position: center;
  background-image: url('../../assets/image/chat.png');
}
.post > div {
  width: 350px;
  height: 350px;
  background-size: cover;
  background-position: center;
  background-image: url('../../assets/image/post.png');
}
.universe > div {
  width: 600px;
  height: 600px;
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: 20px;

  background-image: url('../../assets/image/universe.png');
}
.mainp {
  color: white;
  font-weight: bold;
  font-size: 3rem;
}
.mainnp {
  color: white;
  font-weight: bold;
  font-size: 3rem;
  position: absolute;
  bottom: 80px;
}

.widgets {
  width: 90vw;
  height: 70vh;
  background-color: #1b1a1a8a;
}
